.briefBox {
  .briefTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #dededeb2;
    margin-bottom: 24px;
  }
}
@media (min-width: 768px) {
  .briefBox {
    display: flex;
    gap: 28px;
  }
}
@media (min-width: 1200px) {
  .briefBox {
    max-width: 350px;
    width: 100%;
    display: block;
  }
}
