@import "../../styles/utils/variables";

.header {
  display: flex;
  gap: $spacing-lg;
  justify-content: space-between;
  margin-bottom: $spacing-lg;

  .menu {
    display: flex;
    align-items: center;
    gap: $spacing-lg;

    .menuButton {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: $spacing-sm;
      background-color: $bg-white;
      border-radius: 50%;
      height: 100%;
      width: 7rem;

      img {
        transform: scale(120%);
        filter: brightness(75%);
      }

      @media (min-width: 1000px) {
        display: none;
      }

      @media (max-width: 425px) {
        background-color: $bg-light;
        padding: 0px;
      }
    }
    @media (min-width: 680px) {
      flex-direction: row-reverse;
    }

    @media (max-width: 425px) {
      gap: $spacing-sm;
    }

    @media (max-width: 375px) {
      transform: scale(92%);
    }
  }

  @media (max-width: 680px) {
    flex-direction: column-reverse;
    gap: $spacing-md;
  }
}
