@import "../../styles/utils/variables";

.searchBox {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $spacing-lg;
  gap: $spacing-sm;
  background-color: $bg-white;
  border-radius: 10rem;
  height: 6.4rem;
  width: 100%;

  .searchInput {
    width: 100%;
    height: 100%;
    border: none;

    &:focus {
      outline: none;
    }
  }
}
