@import "../../styles/utils/variables";

.briefBox {
  display: flex;
  flex-direction: column;

  .briefHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e6e1e19a;
    margin-bottom: $spacing-lg;
    padding-bottom: $spacing-lg;
  }

  .briefingList {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
}
@media (min-width: 76.8rem) {
  .briefBox {
    display: flex;
  }
}
// @media (min-width: 120rem) {
//   .briefBox {
//     max-width: 35rem;
//     width: 100%;
//     display: block;
//   }
// }
