@import "../../styles/utils/variables.scss";

.dashboardContainer {
  display: flex;
  gap: $spacing-xl;
  width: 100%;

  section {
    background-color: $bg-white;
    border-radius: $border-radius-md;
    padding: $spacing-md;
    width: 100%;

    header {
      margin-bottom: $spacing-lg;
    }
  }

  .midBox {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: $spacing-xl;
  }

  @media (max-width: 1300px) {
    flex-direction: column;
  }
}
