// Layout

.screen-layout {
  display: flex;
  min-height: 100vh;

  .main-layout {
    display: flex;
    flex-direction: column;
    padding: $spacing-xl;
    background-color: $bg-light;
    margin-left: 280px;
    width: 100%;
  }
}

.briefingSection {
  display: flex;
  flex-direction: column;
  gap: $spacing-xl;
  max-width: 35rem;
  flex: 1;

  a {
    text-decoration: none;
    color: $primary-color;

    &:hover {
      text-decoration: underline;
    }
  }
}

.overviewGallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $spacing-lg;
}

@media (min-width: 76.8rem) {
  .briefingSection {
    display: flex;
    gap: 28px;
  }
}
@media (min-width: 120rem) {
  .briefingSection {
    max-width: 350px;
    width: 100%;
    display: block;
  }
}
