// Layout

.screen-layout {
  display: flex;
  min-height: 100vh;

  .main-layout {
    display: flex;
    flex-direction: column;
    padding: $spacing-xl;
    background-color: $bg-light;
    margin-left: 280px;
    width: 100%;

    @media (max-width: 1000px) {
      margin-left: 0;
    }

    @media (max-width: 425px) {
      padding: $spacing-md;
    }
    @media (max-width: 375px) {
      padding: $spacing-md $spacing-sm;
    }
  }
}

.briefingSection {
  display: flex;
  flex-direction: column;
  max-width: 35rem;
  flex: 1;
  gap: $spacing-xl;

  a {
    text-decoration: none;
    color: $primary-color;
    font-weight: $font-weight-medium;

    &:hover {
      text-decoration: underline;
    }
  }

  @media (max-width: 1300px) {
    flex-direction: row;
    max-width: none;
  }
  @media (max-width: 680px) {
    flex-direction: column;
  }
}

.overviewGallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.8rem;

  @media (max-width: 550px) {
    grid-template-columns: 1fr;
  }
}

.savingPlanBox {
  min-height: 44rem;
}

// For mobiles and tablets

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.mobileSidebar {
  display: none;
  position: absolute;
}

.openMobileSidebar {
  display: flex !important;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
  z-index: 9;
  // width: 100vw !important;
}
