// Main SCSS File
// Import all partial files

@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

// Variables
@import "utils/variables";

// Base Styles
@import "base";

// Layout
@import "layout";

// Saving plan progress Color modes

.purple {
  color: #5a46d6;
}

.bgPurple {
  background-color: #5a46d6;
}

.bgYellow {
  background-color: #f4a100;
}

.yellow {
  color: #f4a100;
}

.bgGreen {
  background-color: #00a86b;
}

.green {
  color: #00a86b;
}
